.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  position: absolute;
  display: flex;
  left: 28.5%;
  top: 33%;
  /* background: rgba(246, 235, 218, 0.85); */
  border-radius: 10px;
}


.todo-input {
    width: 15rem;
    border-radius: 10px 0 0 10px;
    padding: 12px;
    font-size: 20px;
    border: none;
    background: white;
}

.todo-button {
  font-size: 20px;
  background-color: #ffd179;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  padding: 12px;
  font-size: 20px;
  border: none;
}

.todo-button:hover{
  background-color: #ffb86c;
  color:white
}

.list {
  list-style: none;
  max-height: 300px;
  overflow: auto;
}

.todo-deadline-error{
  position: absolute;
  top: 28%;
  left: 51%;
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
  color: #ff3e00;
}


  /*CUSTOM SELECTOR */
select {
  font-size: 13px;
  width: 9rem;
  padding: 10px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  cursor: pointer;
}

/* Custom Select */
.todo-select {
  position: absolute;
  left: 60%;
  top: 32%;
  margin: 1rem;
  overflow: hidden;
  border-radius: 10px;
  background: white;
}

/* Arrow */
.todo-select::after {
  position: absolute;
  content: "\25BC";
  top: 0;
  right: 0;
  padding: 8px;
  pointer-events: none;
}
/* Transition */

.todo-title {
  font-size: 50px;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-deadline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-deadline > h2 {
    padding: 9px;
    background: white;
    border-radius: 10px 0 0 10px;
}

.todo-deadline {
  background: white;
  font-size: 20px;
  border: none;
  padding: 11px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.todo-content{
  position: relative;
  padding-right: 10px;
}

.todo-input-error {
  position: absolute;
  color: red;
  padding: 5px;
}
