.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container {
  position: fixed;
  left: 35%;
  top: 26.75%;
  background: rgba(246, 235, 218, 0.85);
  border-radius: 10px;
  padding: 5px;
}


.todo-input {
    font-size: 20px;
    width: 15rem;
    border-radius: 10px 0 0 10px;
    padding: 8px;
    font-size: 20px;
    border: none;
    background: white;
}

.todo-button {
  font-size: 20px;
  background-color: #efa940;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  padding: 8px;
  font-size: 20px;
  border: none;
}



.list {
  list-style: none;
  max-height: 300px;
  overflow: auto;
}


  /*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 7rem;
  padding: 12px;
  border-radius: 10px;
  background: white;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

.select:hover::after {
  transform: scale(0.75);
}

.todo-title {
  font-size: 50px;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fasthand', cursive;
}

.form-deadline {
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: center;
}

.todo-deadline {
  background: none;
  font-size: 18px;
  border: none;
}

.todo-content {
  padding-left: 20px;
}
