.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  position: absolute;
  left: 35%;
  background: rgba(246, 235, 218, 0.85);
  border-radius: 10px;
  padding: 5px;
}


.todo-input {
    font-size: 20px;
    width: 15rem;
    border-radius: 10px 0 0 10px;
    padding: 12px;
    font-size: 20px;
    border: none;
    background: white;
}

.todo-button {
  font-size: 20px;
  background-color: #ffd179;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  padding: 12px;
  font-size: 20px;
  border: none;
}

.todo-button:hover{
  background-color: #ffb86c;
    color:white
}

.list {
  list-style: none;
  max-height: 300px;
  overflow: auto;
}

.todo-deadline-error{
  text-align: center;
    padding-top: 5px;
    font-size: 20px;
    color: #ff3e00;
}


  /*CUSTOM SELECTOR */
select {
  width: 9rem;
  padding: 16px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  cursor: pointer;
}

/* Custom Select */
.todo-select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: white;
}

/* Arrow */
.todo-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  pointer-events: none;
}
/* Transition */

.todo-select:hover::after {
  transform: scale(0.75);
}

.todo-title {
  font-size: 50px;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-deadline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-deadline > h2 {
    padding: 8.3px;
    background: white;
    border-radius: 10px 0 0 10px;
}

.todo-deadline {
  background: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.todo-content{
  position: relative;
}

.todo-input-error {
  position: absolute;
  color: red;
  padding: 5px;
}
