.profile-body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    max-width: 600px;
    background-color: rgba(246, 235, 218, 0.85);
    padding: 40px 20px;  
    border-radius: 10px;
}

.profile-body-title > h1 {
    font-size: 40px;
    font-weight: 400;
}

.profile-body-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 10px;
    padding: 10px;
}

.profile-button-edit {
    padding: 10px 15px;
    border: none;
    background: #ffd179;
    border-radius: 10px;
    font-size: 15px;
}

.profile-button-edit:hover {
    background-color: #ffb86c;
}


