.todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    padding: 8px;
    font-size: 15px;
    border: none;
    background: white;
}

.todo-input {
    font-size: 20px;
    width: 15rem;
}

.todo-button {
  font-size: 20px;
  background-color: #c8224c;
  cursor: pointer;
}

button:hover {
    color: white;
}

.list {
  min-width: 40%;
  list-style: none;
}


  /*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  cursor: pointer;
  width: 9rem;
  padding: 12px;
  
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

.select:hover::after {
  transform: scale(0.75);
}

 