.todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    padding: 0.5rem;
    font-size: 15px;
    border: none;
    background: white;
}

.todo-input {
    font-size: 20px;
}

.todo-button {
    font-size: 20px;
}

button:hover {
    background-color: #c8224c;
    color: white;
}

select {
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;

    color: #ff6f47;
    cursor: pointer;
    padding: 10.5px;
    width: 7rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
