.todo {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 8px;
    width: 12rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

 .btn-complete:hover {
    background-color: aquamarine;
} 

.btn-delete,
.btn-complete {
    margin-left: 10px;
    
}

.btn-delete:hover {
    background-color: red;
}

.deadline {
    color:red
}