.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    background: white;
    transition: all 1s ease;
    color: black;
}

.todo-item {
    padding: 8px;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.btn-complete {
    background-color: aquamarine;
} 

.btn-delete {
    background-color: red;
}

button {
    cursor: pointer;
}

.deadline {
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    background: white;
    transition: all 1s ease;
}